<header>
    <div id="title">
        <h1>LisToHome</h1>
    </div>

    <ul>

        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/login" id="inscrevase-btn">Entrar</a></li>

    </ul>
</header>