<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro.css">

    <title>LisToHome</title>
</head>

<%- include('./partials/navbar.ejs') %>

    <main>
        <h2>Login</h2>

        <form action="/register" method="post">


            <div class="form-control">
                <label for="email">E-mail:</label>
                <input type="email" name="email" placeholder="Digite seu E-mail" required>
            </div>

            <div class="form-control">
                <label for="password">Senha:</label>
                <input type="password" name="password" placeholder="Digite sua senha" required>
            </div>


            <div id="container-btn-cadastrar">
                <input type="submit" id="btn-cadastrar" value="Entrar">
            </div>

            <p>Ainda não tem uma conta? <a href="/cadastro">Clique aqui!</a></p>
        </form>

    </main>

    <%- include('./partials/footer.ejs') %>