<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobre.css">
    <link rel="stylesheet" href="../css/media.css">
    <title>LisToHome</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <main>
            <div class="container ">
                <div class="about-grid ">
                    <div class="dev-picture"><img id="bia_avatar" src="../images/bia_avatar.png"></div>
                    <div class="dev-txt ">
                        <h2>Bianca Bicesto</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias consequatur distinctio quasi
                            excepturi
                            laboriosam. Porro quis eaque ullam, voluptatem alias natus vitae libero nesciunt, sapiente,
                            tenetur
                            cum ea soluta autem.</p>
                    </div>

                </div>

                <div class="about-grid-right" id="no-mobile">
                    <div class="dev-txt-right">
                        <h2>João Márcio Godoy </h2>
                        <p id="jm_function"><i>Desenvolvedor Principal </i> 😎</p>
                        <p>Opa, beleza? Eu sou o João, Desenvolvedor Principal por aqui, todas essas funções presentes
                            no
                            site
                            foram feitas por mim e pelas minhas brilhantes colegas. Dei alguns "pitacos" no design mas a
                            minha
                            parte fica mais por trás dos panos, aquilo que quase ninguém vê, mas que é essencial para o
                            bom
                            funcionamento do site! </p>
                    </div>
                    <div class="dev-picture-right "> <img id="jm_avatar" src="../images/jm_avatar.jpg" alt=""></div>
                </div>
                <div class="about-grid" id="yes-mobile">
                    <div class="dev-picture"><img id="jm_avatar" src="../images/jm_avatar.jpg"></div>
                    <div class="dev-txt ">
                        <h2>João Márcio Godoy</h2>
                        <p id="jm_function"><i>Desenvolvedor Principal</i> 😎</p>
                        <p>Opa, beleza? Eu sou o João, Desenvolvedor Principal por aqui, todas essas funções presentes
                            no
                            site
                            foram feitas por mim e pelas minhas brilhantes colegas. Dei alguns "pitacos" no design mas a
                            minha
                            parte fica mais por trás dos panos, aquilo que quase ninguém vê, mas que é essencial para o
                            bom
                            funcionamento do site!</p>
                    </div>

                </div>

                <div class="about-grid ">
                    <div class="dev-picture" id="foto"><img id="gabi_avatar" src="../images/gabi_avatar.png"></div>
                    <div class="dev-txt">
                        <h2>Maria Gabriella Zan</h2>
                        
                        <p>Oiii gente, primeiramente, muito obrigada por garantir um tempo para navegar no nosso site, onde foi desenvolvido com muito carinho para facilitar a
                             vida de vocês. Então, eu sou a designer principal, fiz com que fosse um visual interessante e que chamasse a atenção, também ajudei o programador 
                             principal com algumas coisinhas, além de auxiliar minhas amigas a escrever o TCC, apenas corrigindo a gramática e mudando alguns termos.</p>
                    </div>
                </div>

                <div class="about-grid-right" id="no-mobile">
                    <div class="dev-txt-right">
                        <h2>Rayssa Soares</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias consequatur distinctio quasi
                            excepturi
                            laboriosam. Porro quis eaque ullam, voluptatem alias natus vitae libero nesciunt, sapiente,
                            tenetur
                            cum ea soluta autem.</p>
                    </div>
                    <div class="dev-picture-right"><img id="ray_avatar" src="../images/ray_avatar.png" alt=""></div>
                </div>
                <div class="about-grid" id="yes-mobile">
                    <div class="dev-picture"> <img src="../images/ray_avatar.png" id="ray_avatar" alt=""></div>
                    <div class="dev-txt ">
                        <h2>Rayssa Soares</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias consequatur distinctio quasi
                            excepturi
                            laboriosam. Porro quis eaque ullam, voluptatem alias natus vitae libero nesciunt, sapiente,
                            tenetur
                            cum ea soluta autem.</p>
                    </div>

                </div>

                <div class="about-grid ">
                    <div class="dev-picture"> <img id="vi_avatar" src="../images/vi_avatar.png" alt=""></div>
                    <div class="dev-txt">
                        <h2>Vitória Ribeiro</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias consequatur distinctio quasi
                            excepturi
                            laboriosam. Porro quis eaque ullam, voluptatem alias natus vitae libero nesciunt, sapiente,
                            tenetur
                            cum ea soluta autem.</p>
                    </div>

                </div>









            </div>
        </main>






</body>
<script src="../js/responsive.js"></script>

</html>